<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @todos.each do |todo| %>
        <%= render partial: todo %>
      <% end %>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <% if @todos.count > 0 %>
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  <% end %>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">satotoru</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
